<p [ngClass]="estilo">comp-atributo works!</p>
<button (click)="trocar()">TROCAR CLASSE</button>
<h1
  [ngStyle]="{
    background: corDeFundo,
    color: corDaLetra,
    'text-transform': 'uppercase'
  }"
>
  Curso Angular
</h1>

<p>Adicione a lista</p>
<input type="text" [(ngModel)]="item" />
<button (click)="adicionar()">ADICIONAR</button>
<p>{{ item }}</p>

<h3>Lista de compra</h3>
<ul>
  <li *ngFor="let elemento of listaItem">{{ elemento }}</li>
</ul>

<hr />

<ng-template *ngIf="true">
  <a href="#">Finalizar compra</a>
</ng-template>
<br />
<ng-template *ngIf="compIsEnable">
  <a href="#">ADICIONAR NO CARRINHO</a>
</ng-template>

<hr />
